@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>
<p>Welcome to KhumaloCraft Emporium!</p>
<p>James Khumalo, a visionary entrepreneur, set out to establish KhumaloCraft Emporium as a global e-commerce platform to showcase handcrafted products. His dream involves connecting artisans worldwide with a discerning audience. Our mission is to bring you the finest handcrafted products from artisans all over the world, providing a platform for their beautiful works and allowing you to enjoy unique, high-quality crafts.</p>
<p>We believe in the power of craftsmanship and the stories behind each piece. Our platform is designed to be scalable, accessible, and user-friendly, ensuring that you have an enjoyable shopping experience. Explore our collection, discover the stories, and support artisans globally through KhumaloCraft Emporium.</p>
